*.js linguist-detectable=false
*.java linguist-detectable=false
*.html linguist-detectable=false
*.c++ linguist-detectable=false
*.kotlin linguist-detectable=false
*.CSharp linguist-detectable=false
*.xml linguist-detectable=false
